{{define "content"}}
<div class="container" style="margin-top: 5em;">
    <h3><a href="/admin">Administrador</a> /  Produtos</h3>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Marcas</th>
                    <th>Preço</th>
                    <th>Imagem Dash</th>
                   
                   
                    
                    <th> </th>
                   

                </tr>
            </thead>
            <tbody>
                    <% for(d of data){ %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           <td><button type="button" data-button="" data-toggle="modal" data-target="#modalDash"><img src="default" data-dash="" style="height: 2em; width:auto;" ></button></td>
                            <td><a class="btn btn-primary" href="/edit_produto?id=" ><i class="material-icons">edit</i></a></td>
                            <td><button class="btn btn-danger" data-delete="/delete_produto/" data-toggle="modal" data-target="#modalDialog"><i class="material-icons">delete</i></button></td>
                            
                        </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    

</div>
<div class="fixed-bottom">
        <div class=" float-right">
        
            <button class="btn btn-info bmd-btn-fab" id="add">
                <i class="material-icons">add</i>
            </button>
        
        </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluindo Informções</h5>

            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir essa informação?</p>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn  btn-primary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-secondary" id="excluir">Excluir</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalDash">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Escolha a imagem principal para o Dash Board</h5>

            </div>
            <div class="modal-body" >
                <form method="POST" name="imagens" id="imagens" action="/save_dash">
                <div id='id-produto'>

                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Imagem</th>
                        </tr>
                    </thead>
                    <tbody id="modalBodyDash">

                    </tbody>
                </table>
            
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn  btn-primary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-secondary" id="saveDash">Salvar</button>
            </div>

        </div>
    </form>
    </div>
</div>




{{end}}